# Ignore artifacts:
build
**/build
dist
**/dist
coverage
**/coverage
bin
**/bin
node_modules
**/node_modules
.next
**/next
.turbo
**/turbo
.nx
.alchemy
.cursor
.cache
.claude
.gemini
.openai
.anthropic
.google
.azure
.aws
.ibm
.oracle
.agents
.vscode
.idea
.env
.env.local
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local
.env.development.local.example
.env.production.local.example
.env.test.local.example